<ion-view view-title="Promises">
    <ion-content class="padding">
        <button class="button button-block button-positive"
                ng-click="getAllPlaces()">
            Get places
        </button>
        <button class="button button-block button-positive"
                ng-click="getPlaceById()">
            Get place by id
        </button>
        <button class="button button-block button-positive"
                ng-click="insertPlace()">
            Insert new place
        </button>
        <button class="button button-block button-positive"
                ng-click="updatePlace()">
            Update place
        </button>
        <button class="button button-block button-positive"
                ng-click="deletePlace()">
            Delete place
        </button>
    </ion-content>
</ion-view>
